<div class="container">
  <div class="homepage">
    <h1>Excuse Engine</h1>
    <div class="d-flex flex-column">
      <%= link_to "Location Excuse", location_path, {class: 'cta-btn'} %>
      <%= link_to "Creative Excuse", creative_path, {class: 'other-btn'} %>
    </div>
  </div>
</div>
