<div class="container">
   <div class="location-form">
    <h2>Take the excuse engine 🚂 to where you are going!</h1>
    <form action="/excuse/:id" method="get">
      <div class="form-group">
        <label for="coming-from" class="sr-only">Coming from:</label>
        <input type="text" name="coming-address" placeholder="start point">
      </div>
       <div class="form-group">
        <label for="coming-from" class="sr-only">Going to:</label>
        <input type="text" name="going-address" placeholder="end point">
      </div>
      <button type="submit" class="cta-btn">Excuse Me!</button>
    </form>
  </div>
</div>
